body{
    background-color:rgba(164, 155, 155, 0.912);
    padding: 0;
    margin: 0;
    text-align: center;
}

#game-introduction {
    text-align: center;
    padding: 10px;
    }
    h3 {
        text-align: center;
    }
#start-button, #restart-button{
  box-shadow: 10px 5px 5px rgb(56, 54, 54);
  margin: 20px;
background-color: rgb(227, 227, 240);
text-align: center;
justify-content: center;
color: white;
background-color:rgb(106, 70, 70);
width: 150px;
height:50px;
font-size:18px;
    }
#scores-lives p{
  font-size: 24px;
  box-shadow: 10px 5px 5px rgb(151, 138, 138);
  
}

#game-container {
        display: flex;
        width: 100%;
        margin: 0 auto;
        padding: 0px auto;
        justify-content: center;
      }

div#game-screen {

    display: none;
    width: 100%;
    padding:0;
    margin: auto;
    overflow: hidden;
    position:relative;
    background-image: url(../images/Road.png);
    background-size: contain;
    /*background-position: center;*/
    animation: slide 5s linear infinite;
}

@keyframes slide {
    0% {
      background-position: 0 -1000px;
    }
    95% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 50px;
    }
  }
  #game-end {
    display: none;
  }